.title {
  font-weight: 300;
  font-size: 23px;
}

.value {
  font-weight: 500;
  font-size: 57px;
  font-family: 'Times New Roman', Times, serif;
}

.calendar {
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}

.techtitle {
  font-weight: 300;
  font-size: 20px;
}

.teacher {
  font-weight: 500;
  font-size: 20px;
}
